<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create New Post</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Create NEW Post</h1>
  <form action="http://localhost:8080/posts" method="POST">
    <input type="text" placeholder="Enter username" name="username">
    <br>
    <br>
    <textarea cols="40" rows="5" name="content" placeholder="Write your post"></textarea>
    <br>
    <br>
    <button>Create post</button>
  </form>
</body>
</html>